@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Oxanium', sans-serif;
    background-color: #1c1121;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.shop-logo{
    position: relative;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-logo h1{
    font-weight: 800;
    color: #ffc107;
}
.go-back{
    position: absolute;
    top: 10px;
    left: 0;
}
.go-back a{
    font-size: 20px;
}