@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oxanium', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
a{text-decoration: none;}
li{
    list-style: none;
}
.container-width{
    max-width: 1430px;
    margin: 0 auto;
}
.top-head{
    background-color: #1c1121;
}
.head-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-head{
    display: flex;
    align-items: center;
}
.left-head p{
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 600;
}
.left-head p:nth-child(2){
    color: black;
    padding: 10px 40px;
    background-color: #ffc107;
    font-size: 18px;
    font-weight: 800;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}
.right-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    padding-right: 10px;
}
.social i{
    color: #a5a5a5;
    font-size: 13px;
    margin: 0 5px;
}
.email{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    border-left: 2px solid #ffc107;
}
.email i{
    color: gold;
    font-size: 13px;
}
.email a{
    color: #a5a5a5;
    font-size: 13px;
}
.back-nav{
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-image 0.3s ease;
    z-index: 999;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    padding: 1.5rem;
    /* background-image: url(images/nav-bg.jpg); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-image 0.3s ease;
}
.fa-bars{
    font-size: 1.8rem;
    color: white;
    display: none;
    cursor: pointer;
}
.logo{
    flex: 35%;
    display: flex;
    align-items: center;
}
.menu{
    flex: 65%;
}
.menu ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu ul li a{
    color: white;
}
.menu ul li:nth-child(1) a{
    color: black;
}
.menu ul li{
    padding: 13px 23px;
    color: white;
    font-weight: 700;
    transition: all .2s ease;
}
.menu ul li:hover{
    background-color: #ffc107;
}
.menu ul li:hover a{
    color: black;
}
.act{background-color: #ffc107;}
.menu ul li:hover .menu-a{
    color: black;
}
.lead-menu{
    position: relative;
}
.lead-menu:hover .sub-menu{
    height: 150px;
    border: 1px solid #3a2746;
}
.lead-menu:hover .sub2{
    height: 100px;
    border: 1px solid #3a2746;
}
.sub-menu{
    position: absolute;
    width: 250px;
    height: 0;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #1c1121;
    overflow: hidden;
    transition:  height .2s;
    box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
}
.sub-menu a{
    margin: 10px 1rem;
    padding: .3rem 0;
    color: white !important;
}
.sub-menu a:hover{
    color: #ffc107 !important;
}

.slider-bg{
    position: relative;
    margin-top: -94px;
    width: 100%;
    height: 800px;
    background-color: #ffc107;
    background-image: url(images/slider-bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: -10;
}
.slider-bg .spin{
    position: absolute;
    left: 26%;
    width: 780px;
    opacity: .15;
    z-index: -1;
    animation: spin 50s linear infinite;
}
.res-menu{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: #1c181e;
    /* background-image: url(images/nav-res-bg.gif);
    background-size: cover;
    background-position: center; */
    transition: height .3s;
    display: none;
}
.res-menu.height{
    height: 400px;
}
.res-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.res-menu ul li{
    margin: 15px 2rem;
    cursor: pointer;
    border-bottom: 1px solid #333240;
}
.res-menu ul li a, .res-menu ul li{
    color: white;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

    /* <===HERO===> */

.hero{
    display: flex;
    align-items: center;
}
.left-text{
    flex: 50%;
    /* background-color: #ffc107; */
    margin-top: 17rem;
}
.left-text .first{
    color: #ffc107;
    font-size: 2rem;
    font-weight: 800;
}
.left-text h1{
    font-size: 5rem;
    color: white;
    font-weight: 900;
}
.left-text h1 span{
    color: #ffc107;
}
.left-text .second{
    color: white;
    font-size: 1.3rem;
}
.read-more{
    position: relative;
    border: none;
    background-color: #ffc107;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 30px;
    margin-top: 2rem;
    transform: skew(-20deg);
    cursor: pointer;
}
.read-more h4{
    transform: skew(20deg);
}
.h-line{
    position: absolute;
    width: 5px;
    height: 58px;
    top: 0;
    right: -9%;
    background-color: #ffc107;
    transition: all .2s;
}
.right-img{
    flex: 50%;
    position: relative;
}
.absolute1{
    width: 475px;
    position: absolute;
    top: -210px;
    right: 80px;
    z-index: 3;
}
.absolute2{
    width: 650px;
    position: absolute;
    top: -270px;
    z-index: 2;
    left: -90px;
}
@media screen and (max-width: 768px) {
    .head-info{
        display: none;
    }
    .back-nav{
        background-image: url(images/nav-bg.jpg) !important;
        background-size: cover;
    }
    .fa-bars{
        display: block;
    }
    .menu{
        display: none;
    }
    .left-text{
        text-align: center;
    }
    .right-img{
        display: none;
    }
    .res-menu{
        display: block;
    }
    .slider-bg .spin{
        width: 300px;
        top: 20%;
        left: 4%;
    }
    .left-text{
        margin-top: 10rem;
    }
}

    /* <===Release-game===> */

.release{
    max-width: 1250px;
    margin: 0 auto;
}
.release-title{
    text-align: center;
    margin: 5rem 0 3rem 0;
}
.release-title h2{
    font-size: 38px;
    font-weight: 800;
}
.release-title h2 span{
    color: #ffc107;
}
.release-title p{
    font-size: 17px;
    font-weight: 400;
    line-height: 2rem;
}
.release-title img{
    margin-top: 1rem;
}
.release-contain{
    display: flex;
    gap: 2rem;
}
.left-release{
    flex: 65%;
    display: flex;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    padding: 1.3rem;
}
.left-release-image{
    flex: 40%;
    height: 400px;
    position: relative;
    z-index: 10;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}
.img-scroll{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    /* scroll-behavior: smooth; */
    scroll-snap-type: x mandatory;
}
.img-scroll img{
    flex: 1 0 100%;
    width: 100%;
    scroll-snap-align: center;
}
.img-scroll::-webkit-scrollbar{
    display: none;
}
.dot4{
    width: 310px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
}
.dot4  a{
    /* border: 1px solid #ffc107; */
    padding: 7px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}
.dot4  a.active{
    background-color: #ffc107;
}
.right-release-text{
    flex: 60%;
    padding: 1.5rem 2rem;
}
.right-release-text .game-title{
    margin-top: 1.5rem;
}
.rate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rate i{
    color: #ffc107;
}
.title-bg{
    display: flex;
    gap: 6px;
    font-size: 12px;
    font-weight: 800;
    padding: 13px 0;
}
.game-title{
    position: relative;
}
.game-title .title-bg::before{
    content: "";
    background-image: url(images/game-title-back.png);
    position: absolute;
    left: -100px;
    top: 3px;
    height: 100%;
    width: 324px;
    background-repeat: no-repeat;
    z-index: 1;
}
.title-bg h1:nth-child(2){
    color: whitesmoke;
}
.title-bg h1{
    z-index: 2;
}
.game-discrip p{
    line-height: 2rem;
}
.right-release-text .game-discrip{
    margin-top: 1.5rem;
}
.game-discrip p{
    color: black;
    font-weight: 600;
}
.game-discrip p span{
    color: #6c6c6c;
    font-weight: 400;
}
.game-discrip p:nth-child(4){
    color: #6c6c6c;
}
.right-release{
    flex: 35%;
    height: 465px;
}
.right-slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-slide img{
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}
@media screen and (max-width: 768px){
    .release-contain{
        display: block;
        padding: 1rem;
        overflow: hidden;
    }
    .left-release{
        display: block;
    }
    .left-release-image{
        width: 100%;
    }
    .img-scroll{
        width: 100%;
        height: 100%;
    }
    .img-scroll img{
        object-fit: cover;
    }
    .right-release{
        display: none;
    }
}

   /* <===game-list===> */

.back-game{
    position: relative;
    margin-top: 7rem;
    width: 100%;
    /* height: 800px; */
    background-image: url(images/just_gamer_bg.jpg);
    background-size: cover;
    padding-bottom: 6rem;
}
.back-game::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(images/gamers_bg_conve01.png);
    width: 467px;
    height: 169px;
    margin: 0 auto;
    top: -4px;
    background-repeat: no-repeat;
    z-index: 1;
}
.back-game::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(images/gamers_bg_conve02.png);
    width: 420px;
    height: 152px;
    margin: 0 auto;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 1;
}
.game{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}
.left-game{
    flex: 45%;
}
.game-text{
    margin-top: 7rem;
}
.game-text h2{
    color: white;
    font-size: 36px;
    font-weight: 800;
}
.game-text h2 span{
    color: #ffc107;
}
.game-text p{
    color: #cbcbcb;
    font-size: 16px;
    line-height: 2rem;
}
.game-list{
    margin-top: 4.5rem;
}
.list{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 30px 0;
}
.list:hover .icon-game{
    border: 6px solid #ffc107;
}
.icon-game{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #333240;
    transition: all .3s;
    background-image: url(images/gamer_list_icon_bg.jpg);
}
.text-game{
    line-height: 1.8rem;
}
.text-game h2{
    color: white;
    font-size: 23px;
}
.text-game p{
    color: #cbcbcb;
    font-size: 16px;
}
.soldier-midle{
    position: relative;
    flex: 10%;
}
.ironman{
    position: absolute;
    top: 0;
    width: 280px;
    left: 42%;
    bottom: 0;
    z-index: 20;
}
.circle-line{
    position: absolute;
    width: 220px;
    left: 50%;
    top: 40%;
    z-index: 4;
    opacity: .7;
}
.circle-shap{
    position: absolute;
    width: 150px;
    left: 899px;
    top: 389px;
    z-index: 3;
    opacity: .7;
    animation: spin 30s linear infinite;
}
.right-game{
    flex: 45%;
    display: flex;
    justify-content: end;
    align-items: center;
}
@media screen and (max-width: 768px){
    .soldier-midle, .right-game, .ironman, .circle-line, .circle-shap{
        display: none;
    }
    .back-game::after, .back-game::before{
        background-image: none;
    }
    .left-game{
        text-align: center;
    }
    .list{
        flex-direction: column;
    }
}

    /* <===Feature===> */

.feature{
    max-width: 1250px;
    margin: 0 auto;
}
.feature-title{
    text-align: center;
    margin: 5rem 0 3rem 0;
}
.feature-title h2{
    font-size: 38px;
    font-weight: 800;
}
.feature-title h2 span{
    color: #ffc107;
}
.feature-title p{
    font-size: 17px;
    font-weight: 400;
    line-height: 2rem;
}
.feature-title img{
    margin-top: 1rem;
}
.feature-content{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.left-feature, .right-feature, .mid-feature{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 28px;
    padding: 0 1rem;
}
.feature-card{
    position: relative;
    max-width: 400px;
    height: 500px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}
.feature-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-card:hover .card-title{
    display: none;
}

.mid-feature-card1{
    position: relative;
    max-width: 400px;
    height: 570px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}
.mid-feature-card2{
    position: relative;
    max-width: 400px;
    height: 430px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}
.mid-feature-card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mid-feature-card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mid-feature-card1:hover .card-title, .mid-feature-card2:hover .card-title{
    display: none;
}
.hover-feature{
    /* width: 400px;
    height: 500px; */
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: all .3s;
}
.hover-feature img{
    width: 30px;
    height: 50px;
    margin-top: 10rem;
}
.feature-card:hover .hover-feature{
    opacity: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 193, 7, 0.105);
}
.mid-feature-card1:hover .hover-feature, .mid-feature-card2:hover .hover-feature{
    opacity: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 193, 7, 0.105);
}
.card-title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transition: all .5s;
}
.fa-bell, .hover-feature h2 span, .card-title h2 span{
    color: #ffc107;
}
@media screen and (max-width: 768px){
    .feature-content{
        flex-direction: column;
        align-items: center;
    }
}

    /* <===Category===> */

.back-category{
    width: 100%;
    background-color: #ffc107;
    margin-top: 6.5rem;
    background-image: url(images/cta_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.category{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}
.left-cate{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-cate{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.right-cate h2{
    font-size: 3.2rem;
    font-weight: 900;
    color: white;
}
.right-cate h2 span{
    color: #ffc107;
}
.right-cate p{
    font-size: 20px;
    color: white;
    line-height: 2rem;
}
.right-cate img:nth-child(1){
    width: 50px;
}
.right-cate img:nth-child(4){
    width: 300px;
    margin-top: 1rem;
}
.cate-btn{
    width: 220px;
}
@media screen and (max-width: 768px){
    .category{
        display: block;
        padding: 0 1.5rem;
    }
    .right-cate{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-cate img{
        width: 300px;
    }
}

    /* <===product===> */

.back-product{
    background-color: #1c1121;
    padding: 1rem 0 5rem 0;
}
.product{
    max-width: 1250px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.product-title h2{
    color: white ;
}
.product-title p{
    color: #a5a5a5;
}
.product-slider{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 1rem;
    align-items: center;
}
.product-slider-overflow{
    height: 420px;
    overflow-y: hidden;
    padding: 10px;
}
.product-slider-overflow::-webkit-scrollbar{
    display: none;
}
.product-card{
    width: 280px;
    background-color: #1c1121;
    border-radius: 5px;
    border: 1px solid #ffc107;
    overflow: hidden;
    padding: 2px;
    cursor: pointer;
    box-shadow:  7px 7px 13px #110a14,
             -7px -7px 13px #27182e;
}
.pro-img img{
    border-radius: 3px;
    width: 275px;
    height: 250px;
    object-fit: cover;
}
.pro-detail{
    padding: 1.9rem 1.4rem 1.6rem 1.4rem;
}
.name-width{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-tage{
    text-align: center;
    width: 170px;
    margin-top: -20px;
    background-color: #ffc107;
    padding: 5px 20px;
    font-weight: 600;
    transform: skew(-20deg);
    z-index: 1;
}
.name-tage p{
    transform: skew(20deg);
}
.pro-detail h2{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-top: 1.3rem;
    transition: all .2s;
    margin: 1rem 0;
}
.pro-detail h2:hover{
    color: #ffc107;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffc107;
}
.price span:nth-child(2) i{
    font-size: 10px;
    transition: all .2s;
}
.price span:nth-child(2){
    width: 34px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: .1px solid gray;
    transition: all .2s;
    background-color: #110a14;
    z-index: 3;
}
.price span:nth-child(2):hover{
    background-color: #ffc107;
}
.price span:nth-child(2):hover i{
    color: #110a14;
}

    /* <===News===> */

.back-article{
    padding: 0 0 7rem 0;
}
.feature-title{
    padding: 0 1rem;
}
.article{
    max-width: 1250px;
    margin: 0 auto;
}
.article-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.news-card{
    max-width: 400px;
    cursor: pointer;
}
.news-card .news-img{
    width: 100%;
    height: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.news-card .news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-describ h2{
    margin: 1.5rem 0 .6rem 0;
    transition: all .2s;
    font-weight: 800;
}
.news-describ h2:hover{
    color: #ffc107;
}
.news-describ .dates{
    margin: 10px 0 1.5rem 0;
}
.dates{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dates i{
    color: #ffc107;
    font-size: 14px;
}
.news-describ p{
    font-size: 16px;
    line-height: 1.5rem;
}
@media screen and (max-width: 768px){
    .article-content{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

    /* <===footer===> */


.back-footer{
    background-image: url(images/s_footer_bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.search-footer{
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c181e;
    padding: 3rem 3rem;
    border-radius: 50px;
    position: absolute;
    left: 140px;
    top: -60px;
}
.text{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
.search-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c3058;
    padding: 1rem 2rem;
}
.send-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.search-area i{
    color: #ffc107;
}
.search-area input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    margin: 0 20px;
    color: white;
}
.sub{
    display: flex;
    gap: 10px;
    background-color: #ffc107;
    padding: .85rem 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.fm{
    width: 300px;
}
.footer{
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-menu1 p{
    color: #a5a5a5;
    font-weight: 600;
    margin: 20px 0;
}
.footer-menu2{
    display: flex;
    flex-direction: column;
}
.footer-menu2 h2, .footer-menu3 h2{
    color: white;
    font-size: 1.1rem;
}
.footer-menu2 a{
    color: #cbcbcb;
    font-size: 1rem;
    margin: 10px 0;
}
.plateform {
    display: flex;
    align-items: center;
    gap: 10px;
}
.plateform i{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.plateform i:nth-child(1){
    background-color: rgb(59, 89, 152);
}
.plateform i:nth-child(2){
    background-color: #55acee;
}
.plateform i:nth-child(3){
    background-color: #d71e18;
}
.plateform i:nth-child(4){
    background-color: #1565c0;
}
.back-last{
    background-color: #1c1121;
}
.last{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}
.last p{
    color: white;
}
@media screen and (max-width: 768px){
    .search-footer{
        width: 100%;
        left: 0;
        flex-direction: column;
    }
    .last{
        flex-direction: column;
        gap: 2rem;
    }
    .footer{
        padding: 200px 2rem 2rem;
    }
    .send-email{
        flex-direction: column;
    }
}